<template>
  <div class="container">
    <label for="from">from</label>
    <select name="from" v-model="from">
      <option v-for="place in places" :key="place._id" :value="place._id">{{place.name}}</option>
    </select>
    <label for="to">to</label>
    <select name="to" v-model="to">
      <option v-for="place in places" :key="place._id" :value="place._id">{{place.name}}</option>
    </select>
    <button @click="setOriginalDirection">setOriginalDirection</button>
    <button @click="setMyDirection">setMyDirection</button>
    <div id="mapwize"></div>
    <loading
      :active.sync="isLoading"
      :can-cancel="false"
      :is-full-page="true"
      style="background-color:rgba(0,0,0,.5)"
    ></loading>
  </div>
</template>

<script>
// @ is an alias to /src
const Mapwize = require("mapwize");
import myDirection from "@/mock/myDirection";
import placesJson from "@/mock/places-mapwize";
import Api from "@/api";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
export default {
  name: "Home",
  components: {
    Loading
  },
  data() {
    return {
      map: null,
      directionRes: null,
      myDirection: myDirection,
      places: placesJson.places,
      from: placesJson.places[1]._id,
      to: placesJson.places[2]._id,
      isLoading: true
    };
  },
  async mounted() {
    Mapwize.apiKey("fc000d4a494482cd79bc512e882429b0");
    this.map = await Mapwize.map({
      container: "mapwize",
      minZoom: 20,
      accessKey: "04b5fa905e38499e",
      apiKey: "e83f529ece12aad7f7f5f448f86c1421",
      centerOnVenueId: "5d36f933a3852a0016cb9c40",
      floorForVenue: { "5d36f933a3852a0016cb9c40": 2 },
      restrictContentToVenueId: "5d36f933a3852a0016cb9c40"
    });
    this.isLoading = false;
  },
  methods: {
    async setOriginalDirection() {
      this.isLoading = true;
      this.directionRes = await Mapwize.Api.getDirection({
        from: {
          placeId: this.from
        },
        to: {
          placeId: this.to
        }
      });
      this.map.setDirection(this.directionRes);
      this.isLoading = false;
    },
    async setMyDirection() {
      this.isLoading = true;
      const apiRes = await Api.getDirection(this.from, this.to);
      this.formatToMapwizeRes(apiRes);
      this.map.setDirection(this.myDirection);
      this.isLoading = false;
    },
    formatToMapwizeRes(myDirection) {
      const from = {
        floor: 2,
        venueId: "5d36f933a3852a0016cb9c40",
        placeId: this.from._id
      };
      const to = {
        floor: 2,
        venueId: "5d36f933a3852a0016cb9c40",
        placeId: this.to._id
      };
      const response = {
        from,
        to,
        waypoints: [],
        route: [
          {
            floor: 2,
            path: myDirection,
            isStart: true,
            fromFloor: null,
            isEnd: true,
            toFloor: null,
            step: 0
          }
        ]
      };
      this.myDirection = response;
    }
  }
};
</script>

<style lang="scss">
body {
  margin: 0;
  padding: 0;
  button {
    height: 30px;
    margin: 0 15px;
  }
}

#mapwize {
  position: absolute;
  top: 30px;
  bottom: 0;
  left: 0;
  right: 0;
}
</style>
